{
	"root": true,
	"extends": ["plugin:@wordpress/eslint-plugin/recommended"],
	"parserOptions": {
		"requireConfigFile": false,
		"babelOptions": {
			"presets": ["@wordpress/babel-preset-default"]
		},
		"warnOnUnsupportedTypeScriptVersion": false
	},
	"overrides": [
		{
			"files": ["tests/e2e/**/*.[jt]s", "tests/e2e-utils/**/*.[jt]s"],
			"extends": ["plugin:@wordpress/eslint-plugin/test-e2e"]
		},
		{
			"files": ["tests/performance/**/*.[jt]s"],
			"extends": [
				"plugin:eslint-plugin-playwright/playwright-test"
			],
			"rules": {
				"no-console": "off",
				"jest/expect-expect": "off",
				"playwright/expect-expect": "off",
				"playwright/no-conditional-in-test": "off"
			}
		}
	]
}
