{
	"root": true,
	"extends": ["plugin:@wordpress/eslint-plugin/recommended"],
	"parserOptions": {
		"requireConfigFile": false,
		"babelOptions": {
			"presets": ["@wordpress/babel-preset-default"]
		},
		"warnOnUnsupportedTypeScriptVersion": false
	},
	"rules": {
		"import/no-unresolved": [
			"error",
			{
				"ignore": ["^tablemark$"]
			}
		]
	}
}
