<?xml version="1.0"?>
<ruleset name="WordPress Coding Standards for the plugin">
	<description>A custom set of code standard rules for the plugin.</description>

	<rule ref="WordPress-Core" />

	<rule ref="WordPress-Docs">
		<exclude-pattern>*/tests/*</exclude-pattern>
	</rule>

	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" value="ginger-mo" />
		</properties>
	</rule>

	<!-- Make sure we prefix everything in the global namespace. -->
	<rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<properties>
			<property name="prefixes" type="array" value="Ginger_MO" />
		</properties>
		<exclude-pattern>uninstall.php</exclude-pattern>
	</rule>

	<!-- We only support the latest major WordPress release. -->
	<config name="minimum_wp_version" value="6.3" />

	<!-- Check all PHP files in directory tree by default. -->
	<arg name="extensions" value="php"/>
	<file>.</file>

	<!-- File Layout: Declare symbols or run code, but not both. -->
	<rule ref="PSR1.Files.SideEffects" />

	<!-- Prevent false positives for IDE annotations. -->
	<rule ref="Squiz.PHP.CommentedOutCode">
		<properties>
			<property name="maxPercentage" value="75" />
		</properties>
	</rule>

	<!-- Do not apply filename rules for unit tests -->
	<rule ref="WordPress.Files.FileName.NotHyphenatedLowercase">
		<exclude-pattern>tests/*</exclude-pattern>
	</rule>
	<rule ref="WordPress.Files.FileName.InvalidClassFileName">
		<exclude-pattern>tests/*</exclude-pattern>
	</rule>

	<!-- Ignore prefix requirement for test class -->
	<rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<exclude-pattern>tests/phpunit/unit/includes/Testable_Ginger_MO_Translation_File.php</exclude-pattern>
		<exclude-pattern>tests/phpunit/integration/data</exclude-pattern>
		<exclude-pattern>tests/benchmark/tests</exclude-pattern>
	</rule>

	<!-- Ignore snake_case requirement for test class -->
	<rule ref="WordPress.NamingConventions.ValidFunctionName.MethodNameInvalid">
		<exclude-pattern>tests/benchmark/tests</exclude-pattern>
	</rule>

	<!-- Ignore comments requirements for main plugin file -->
	<rule ref="Squiz.Commenting">
		<exclude name="Squiz.Commenting.LongConditionClosingComment" />
		<exclude-pattern>ginger-mo.php</exclude-pattern>
	</rule>

	<!-- Do not apply hook name rules to compat file -->
	<rule ref="WordPress.NamingConventions.PrefixAllGlobals.NonPrefixedHooknameFound">
		<exclude-pattern>lib/class-ginger-mo-translation-compat.php</exclude-pattern>
	</rule>

	<!-- Test for PHP 7.0+ compatibility. -->
	<config name="testVersion" value="7.0-"/>

	<rule ref="PSR1.Files.SideEffects">
		<exclude-pattern>tests/phpunit/integration/data/plugins</exclude-pattern>
	</rule>

	<exclude-pattern>*/node_modules/*</exclude-pattern>
	<exclude-pattern>*/tools/*</exclude-pattern>
	<exclude-pattern>*/vendor/*</exclude-pattern>
	<exclude-pattern>*/tests/*/bootstrap.php</exclude-pattern>
	<exclude-pattern>*/tests/benchmark/install.php</exclude-pattern>
	<exclude-pattern>*/tests/phpunit/unit/data/*</exclude-pattern>
	<exclude-pattern>*/lib/class-plural-forms.php</exclude-pattern>
</ruleset>
