parameters:
	level: 9
	strictRules:
		strictCalls: false
	paths:
		- performant-translations.php
		- lib/
		- tests/phpunit/unit/includes
		- tests/phpunit/unit/tests
		- tests/phpunit/integration/tests
		- tests/phpunit/integration/data
	excludePaths:
		- tests/phpunit/unit/includes/Plural_Forms.php
	scanFiles:
		- build-cs/vendor/php-stubs/wordpress-tests-stubs/wordpress-tests-stubs.php
	bootstrapFiles:
		- tests/phpstan/bootstrap.php
includes:
	- phar://phpstan.phar/conf/bleedingEdge.neon
