parameters:
	level: 9
	strictRules:
		strictCalls: false
	paths:
		- performant-translations.php
		- lib/
		- tests/phpunit/integration/tests
		- tests/phpunit/integration/data
	scanFiles:
		- build-cs/vendor/php-stubs/wordpress-tests-stubs/wordpress-tests-stubs.php
	bootstrapFiles:
		- tests/phpstan/bootstrap.php
	ignoreErrors:
		# WordPress core includes a polyfill for these.
		- message: '/^Function str_ends_with not found\./'
		- message: '/^Function str_contains not found\./'
		# Stubs for 6.5 are not available yet.
		- message: '/^Call to static method transform\(\) on an unknown class WP_Translation_File.$/'
includes:
	- phar://phpstan.phar/conf/bleedingEdge.neon
